@import url("lightbox.css");

*{
	margin: 0px;
	padding: 0px;
	font-family: Helvetica, sans-serif;
}
body{
	font-size: 16px;
	color: #333;
}

header,
section#main,
section#footer,
footer{
	width: 1024px;
	height: auto;
	margin: auto;
	
}

section.trenner{
	width: auto;
	min-width: 1030px;
	height: 20px;
	margin: 0px 0px 5px 0px;
	background-image: url('../img/trenner.png');
	background-repeat: repeat-x;
	clear: both;
}

/*--------[ Header ]--------*/
header{
	height: 110px;
}
	header img[role="logo"]{
		position: relative;
		top: 30px;
		width: 370px;
		height: auto;
	}
	header a[role="btn"]{
		position: relative;
		top: -30px;
		left: 480px;
		background-color: #FBB03B;
		font-size: 12px;
		font-weight: bold;
		color: #FFF;
		border: 1px solid #FBB03B;
		padding: 3px 10px;
	}
		header a[role="btn"]:hover{
			border: 1px solid #FBB03B;
			background-color: #FFF;
			color: #FBB03B;
		}

	/*--------[ Navigation ]--------*/
	header nav{
		height: 35px;
		z-index: 10;
		font-size: 14px;
		float: right;
	}
		header nav ul:after{
			display: block;
			height: 0;
			font-size: 0;
			clear: both;
			content: " ";
			visibility: hidden;
		}
		header nav ul li{
			text-align: center;
			float: left;
			list-style: none;
			z-index: 10;
		}

			header nav ul li:nth-child(1),
			header nav ul li:nth-child(5),
			header nav ul li:nth-child(1) ul li:nth-child(1),
			header nav ul li:nth-child(1) ul li:nth-child(2),
			header nav ul li:nth-child(1) ul li:nth-child(3){
				width: 120px;
			}
			header nav ul li:nth-child(2),
			header nav ul li:nth-child(6){
				width: 80px;
			}
			header nav ul li:nth-child(3),
			header nav ul li:nth-child(3) ul li:nth-child(1),
			header nav ul li:nth-child(3) ul li:nth-child(2),
			header nav ul li:nth-child(3) ul li:nth-child(3){
				width: 160px;
			}
			header nav ul li:nth-child(4){
				width: 60px;
			}
			header nav ul li:hover > ul{
					visibility: visible;
			}
			header nav ul li a{
				display: block;
				padding: 6px 0px;
				color: #2E3192;
				font-weight: bold;
				text-decoration: none;
				z-index: 10;
			}
				header nav ul li a:hover{
					background-color: #2E3192;
					color: #FFF;
					border-radius: 15px 15px 0px 0px;
				}
				header nav ul li> a:only-child:hover{
					border-radius: 15px;
				}
			header nav ul li ul{
				position: absolute;
				display: outline;
				padding: 0px;
				visibility: hidden;
				z-index: 10;
			}
				header nav ul li ul li{
					border-top: 1px solid #FFF;
					border-right: 0px;
					float: none;
					z-index: 10;
				}
					header nav ul li ul li:hover{
						border-top: 1px solid #2E3192;
					}
					header nav ul li ul li a{
						background-color: #2E3192;
						color: #FFF;
					}
						header nav ul li ul li a:hover{
							background-color: #FFF;
							color: #2E3192;
							border-radius: 0px;
							border-left: 1px solid #2E3192;
							border-right: 1px solid #2E3192;
						}
							header nav ul li:nth-child(1) ul li > a:hover,
							header nav ul li:nth-child(3) ul li > a:hover{
								border-radius: 0px;
							}
							header nav ul li ul li:last-child a,
							header nav ul li ul li:last-child a:hover{
								border-radius: 0px 0px 15px 15px;
							}
								header nav ul li ul li:last-child a:hover{
									border: 1px solid #2E3192;
								}

		nav li > a{
			background-image: url('../img/menulink.png');
			background-repeat: no-repeat;
			background-position: right;
		}
			nav li > a:hover{
				background-image: url('../img/menulink_hover.png');
			}

		nav li > a:only-child{
			background-image: none;
		}


/*--------[ Hauptteil ]--------*/
section#main{
	margin-top: 20px;
	height: auto;
}
	#main article{
		border-radius: 30px;
		border: 2px solid #CCC;
		padding: 30px 30px;
		margin-right: 23px;
		margin-bottom: 45px;
	}
	
	/*--------[ Content ]--------*/
	article.full{
		width: 942px;
		margin-right: 0px;
	}
	article.full ~ article.full{
		min-height: 140px;
	}
	article.half{
		width: 425px;
		float: left;
	}
		.half img{
			width: 100%;
			margin: 10px 0px;
		}
	article.twothird{
		width: 555px;
		float: left;
		padding: 0px;
	}
		article[role="coverage"].twothird{
			height: 335px;
		}
		
	article.third{
		width: 235px;
		float: left;
	}
		.third img{
			width: 100%;
			margin: 5px 0px;
		}

		article.half:nth-child(2),
		article.third:nth-child(3){
			margin-right: 0px;
		}
		
		/*--------[ Indexseite ]--------*/

		article[role="coverage"]~article.third:nth-child(3) h1,
			article[role="coverage"]~article.third:nth-child(4) h1{
				color: #FBB03B;
			}
			article[role="coverage"]~article.third:nth-child(5) h1{
				color: #C1272D;
			}
			article[role="coverage"]~article.third:nth-child(7) h1{
				color: #009245;
			}
			
			article[role="coverage"]~article.third:nth-child(3) a[role="btn"]:hover,
			article[role="coverage"]~article.third:nth-child(4) a[role="btn"]:hover,
			article[role="coverage"]~article.third:nth-child(5) a[role="btn"]:hover,
			article[role="coverage"]~article.third:nth-child(7) a[role="btn"]:hover{
				background-color: #FFF;
			}
			
			article[role="coverage"]~article.third:nth-child(3) a[role="btn"],
			article[role="coverage"]~article.third:nth-child(4) a[role="btn"]{
				background-color: #FBB03B;
				border-color: #FBB03B;
			}
				article[role="coverage"]~article.third:nth-child(3) a[role="btn"]:hover,
				article[role="coverage"]~article.third:nth-child(4) a[role="btn"]:hover{
					color: #FBB03B;
					
				}
				
			article[role="coverage"]~article.third:nth-child(5) a[role="btn"],
			article[role="coverage"]~article.third:nth-child(6) a[role="btn"],
			article[role="coverage"]~article.third:nth-child(7) a[role="btn"]{
				padding-left: 80px;
				padding-right: 80px;
			}

			article[role="coverage"]~article.third:nth-child(3) a[role="btn"]{
				padding-left: 40px;
				padding-right: 40px;
			}
			article[role="coverage"]~article.third:nth-child(4) a[role="btn"]{
				padding-left: 50px;
				padding-right: 50px;
			}
			article[role="coverage"]~article.third:nth-child(5) a[role="btn"]{
				background-color: #C1272D;
				border-color: #C1272D;
			}
				article[role="coverage"]~article.third:nth-child(5) a[role="btn"]:hover{
					color: #C1272D;
				}
			article[role="coverage"]~article.third:nth-child(7) a[role="btn"]{
				background-color: #009245;
				border-color: #009245;
			}
				article[role="coverage"]~article.third:nth-child(7) a[role="btn"]:hover{
					color: #009245;
				}



/*--------[ Footer 1 ]--------*/
section#footer{
	height: 230px;
	padding: 5px 0px 10px 0px;
	clear: both;
	background-position: center 20px;
}
	#footer article{
		min-height: 20px;
		width: 286px;
		padding: 0px 20px;
		float: left;
		margin-right: 23px;
	}
		#footer h1{
			margin: 15px 0px 15px 0px;
		}
		section#footer article:nth-child(1) img{
			margin-top: 85px;
			width: 90%;
		}
		section#footer article:nth-child(3){
			margin-right: 0px;
		}
		section#footer article:nth-child(3) h1{
			color: #009245;
		}


/*--------[ Footer 2 ]--------*/
footer{
	clear: both;
	font-size: 13px;
	font-weight: bold;
	padding: 10px 0px 20px 10px;
}
	footer a{
		color: #333;		
	}


/*--------[ Überschriften ]--------*/
h1{
	font-size: 26px;
	color: #2E3192;
	text-transform: uppercase;
}
h2{
	font-size: 20px;
	color: #2E3192;
	text-transform: uppercase;
	margin: 15px 0px 15px 0px;
	font-style: italic
}

/*--------[ Links / Button ]--------*/
a{
	text-decoration: none;
	color: #333;
}
	a[role="btn"]{
		border-radius: 30px;
		background-color: #2E3192;
		color: #FFF;
		border: 2px solid #2E3192;
		padding: 5px 10px;
	}
		a[role="btn"]:hover{
			background-color: #FFF;
			color: #2E3192;
		}

/*--------[ Absätze ]--------*/
p{
	margin: 15px 0px;
}
	p[role="author"]{
		margin-top: 35px;
		text-align: right;
		font-style: italic;
		clear: both;
	}
	.full p[role="bildbeschreibung"]{
		margin: 5px 0px 35px 10px;
	}
	.half p[role="bildbeschreibung"],
	.third  p[role="bildbeschreibung"]{
		text-align: right;
		margin: 5px 10px 35px 0px;
	}

address{
	margin: 10px 0px;
}
	
/*--------[ Bilder ]--------*/	
img{
	border-radius: 15px;
}	
	
	.full img[role="gruppenfoto"]{
		width: 70%;
		clear: both;
		float: none;
		margin: auto;
	}
	
	figure.galerie_overview{
		overflow: hidden;
		height: 150px;
		width: auto;
		margin-top: 25px;
	}
		figure.galerie_overview img{
			width: auto;
			height: 140px;
			float: left;
			margin: 5px;
		}
		figure.galerie_overview div.img_num{
			height: 50px;
			width: 150px;
			float: left;
			margin: 5px;
			background-color: #E6E6E6;
			border-radius: 15px;
			padding: 45px 30px;
			color: #333;
			font-weight: bold;
			
		}


/*--------[ Formular ]--------*/	
form{
	width: 45%;
	margin: auto;
}
input,
textarea{
	width: 100%;
	padding: 10px 10px;
	border-radius: 15px;
	border: 2px solid #CCC;
	display: block;
	font-size: 16px;
}
label{
	display: block;
	padding: 10px 10px 4px 10px;
}
input[type="submit"]{
	width: 105%;
	margin-top: 20px;
	background-color: #2E3192;
	color: #FFF;
	border: 2px solid #2E3192;
	padding: 5px 10px;
	cursor: pointer;
}
	input[type="submit"]:hover{
		background-color: #FFF;
		color: #2E3192;
	}
		
/*--------[ Formular ]--------*/		
iframe{

	border-radius: 15px;
	width: 100%;
	height: 400px;
}
	
	
/*--------[ Slideshow in Hauptteil ]--------*/
#slideshow{
		position: relative;
		width: 1024px;
		top: -30px;
		left: -30px;
		float: left;
		z-index: 1;
	}
		#slideshow img{
			position: absolute;
			width: 616px;
			height: 395px;
			top: 0px;
			left: 0px;
			border-radius: 28px;
		}

/*--------[ Galerie ]--------*/
article[role="galerie"] img{
	width: auto;
	height: 195px;
	float: left;
	margin-right: 20px;
	margin-bottom: 20px;
}

.clear{
	clear: both;
	float: none;
}
