*{
  font-family: Helvetica;
	margin: 0px;
	padding: 0px;
}

body{
	background-color: #27485B;
	width: 500px;
  height: 100%;
	margin: auto;
	padding: 20px 5px;
	color: #354052;
}

h1{
	display: block;
	height: 20px;
	padding: 20px 70px 20px 30px;
	background-color: #354052;
	margin-top: 20px;
	margin-bottom: 20px;
	color: #FFF;
	font-size: 18px;
	border-radius: 6px;
}

h2{
	width: 500px;
	color: #FFF;
	margin-top: 20px;
	margin-bottom: 40px;
	text-align: center;
	font-size: 28px;
}

#mobile{
	display: none;
}

form{
	width: 500px;
	background-color: #FFF;
	border-radius: 30px;
	padding: 10px 25px;
}

input{
	background-color: #FFF;
	border-radius: 6px;
	border: none;
	display: block;
	margin-bottom: 20px;
	font-size: 18px;
	color: #354052,
}
	input[type="email"],
	input[type="password"]{
		width: 400px;
		padding: 10px 70px 10px 30px;
		background-repeat: no-repeat;
		background-position: center right;
		border: 1px solid #354052;
	}
		input[type="email"]{
			background-image: url(../img/login_email.png);
		}
		input[type="password"]{
			background-image: url(../img/login_lock.png);
		}


		input[type="submit"]{
			width: 100%;
			height: 50px;
			background-color: #0184BC;
			color: #FFF;
			cursor: pointer;
		}

    #footerinfo{
    	width: 550px;
    	margin: 30px auto;
    	color: #7D919D;
    	text-align: center;
    	font-size: 12px;
    }

	@media screen and (max-width: 1023px){
		form{
			display: none;
		}
		#mobile{
			display: inherit;
			width: 500px;
			background-color: #FFF;
			border-radius: 30px;
	    padding: 10px 25px 30px 25px;
		}
	}
